.navbar-nav {
  margin: 0% 15%;
  font-size: 1.2em;
}

nav {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(9, 217, 95, 0.5);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(9, 217, 95, 0.9);
}
